<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jacksonmeyer.com.memoryenhancement">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StageOneActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L1"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L2"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L3"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L5"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L4"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L6"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L7"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L8"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L9"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L10"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L11"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L12"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L13"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L14"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L15"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L16"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L17"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L18"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L19"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage1.S1L20"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L1"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L2"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L3"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L4"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L5"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L6"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L7"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L8"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L9"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L10"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L11"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L12"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L13"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L14"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L15"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L16"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L17"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L18"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L19"
            android:screenOrientation="portrait" />
        <activity android:name=".Stage2.S2L20"
            android:screenOrientation="portrait" />

        <activity android:name=".StageThreeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".StageTwoActivity"
            android:screenOrientation="portrait" />
        <service android:name=".BackgroundSoundService"
            android:enabled="true"
            android:stopWithTask="true"/>


    </application>
</manifest>